/* Pseudo-class that matches the root element of the document. */
:root {
    --dark-shades: #240046;
    --dark-accent: #6444c3;
    --main-brand: #49d3f4;
    --light-accent: #f0a0cf;
    --light-shades: #f6eef3;
    --gradient: linear-gradient(45deg, var(--main-brand), var(--light-accent), var(--dark-accent));
    --heading: 'Oooh Baby', cursive;
    --body: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--light-shades);
    font-family: var(--body);
    color: var(--dark-shades);
}

header {
    display: inline-flex;
    height: 14vh;
    padding: 5px;
}

h1 {
    margin: 20px;
    font-size: 38px;
    letter-spacing: .2em;
}

/* Gradient text */
h1,
nav button:hover,
h2,
.standout,
#final-score {
    background: var(--gradient);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quiz {
    font-family: var(--heading);
    font-style: italic;
}

nav {
    margin: 34px 20px 25px 45px;
    padding: 15px;
}

nav button,
#timer-container p,
ol,
h3,
.btn,
.question-footer p,
::placeholder,
#final-btn {
    color: var(--dark-accent);
}

nav button {
    border: none;
    outline: none;
    background-color: var(--light-shades);
    font-size: 16px;
}

nav button i {
    margin-right: 6px;
}

#timer-container {
    margin: 52px 20px 20px 48px;
    padding-left: 500px;
}

#timer-container p i {
    margin-right: 5px;
}

main {
    margin: 0 auto;
    height: 85vh;
    padding: 20px;
}

main,
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction,
#question-section,
#final-container,
#highscores {
    margin: 30px 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 25px var(--light-accent);
    box-sizing: border-box;
    width: 880px;
    height: 450px;
    padding: 15px;
}

#introduction,
#question-section,
#final-container,
#highscores,
#start,
.btn,
#final-btn,
footer {
    text-align: center;
}

h2 {
    margin: 45px 0;
    font-size: 30px;
    font-weight: 400;
}

ol,
h3,
.btn,
p {
    font-weight: lighter;
}

li {
    margin-bottom: 20px;
    list-style-type: none;
}

.standout {
    font-weight: 500;
}


#start,
#final-btn {
    margin-top: 40px;
    box-shadow: 0 2px 10px 0 var(--light-accent);
    padding: 9px 30px;
}

#start,
.btn,
#next,
#final-btn {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--body);
}

#start,
.btn:hover,
#final-btn {
    background: var(--gradient);
    color: var(--light-shades);
}

.hide {
    display: none;
}

.show {
    display: block;
}

#question-section {
    margin-top: 20px;
}

.question-title {
    margin-top: 18px;
    height: 6vh;
}

h3 {
    font-size: 21px;
}

.question-options {
    margin: 10px 0 8px 30px;
    height: 35vh;
}

.btn {
    margin: 25px 5px;
    border: 1px solid var(--light-accent);
    width: 50%;
    padding: 9px 25px;
}

.btn,
#next {
    background: var(--light-shades);
}

.btn:hover {
    border: none;
}

.question-answer {
    height: 4vh;
}

#answer-check {
    margin: 5px 8px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.question-footer {
    margin: 15px auto 2px auto;
}

.question-footer p {
    font-size: 15px;
}

.final-card {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

#final-score {
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#initials {
    border: none;
    border: 3px solid var(--light-shades);
    box-shadow: 0 2px 10px var(--light-accent);
    border-radius: 50px;
    display: inline-flexbox;
    text-align: center;
    padding: 10px;
    margin-top: 45px;
    margin-bottom: 0;
}

::placeholder {
    font-size: 13px;
    letter-spacing: 0.1rem;
}

input[type=text] {
    width: 30%;
    font-weight: 400;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text],
footer {
    color: var(--light-accent);
}

input[type=text]:focus {
    outline: none;
    width: 40%;
}

#highscores p {
    font-size: 18px;
    color: var(--dark-shades);
}

.logo img {
    box-sizing: border-box;
    border-radius: 30px;
}

#display-score {
    margin-top: 20px;
}

footer {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 350;
}