/* Pseudo-class that matches the root element of the document. */
:root {
    --dark-shades: #240046;
    --dark-accent: #6444c3;
    --main-brand: #49d3f4;
    --light-accent: #f0a0cf;
    --light-shades: #f6eef3;
    --gradient: linear-gradient(45deg, var(--main-brand), var(--light-accent), var(--dark-accent));
    --heading: 'Oooh Baby', cursive;
    --body: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--light-shades);
    font-family: var(--body);
    color: var(--dark-shades);
}

header {
    display: inline-flex;
    height: 14vh;
    padding: 5px;
}

h1 {
    margin: 20px;
    font-size: 38px;
    letter-spacing: .2em;
}

/* Gradient text */
h1,
nav a:hover,
h2,
.standout {
    background: var(--gradient);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quiz {
    font-family: var(--heading);
    font-style: italic;
}

nav {
    margin: 34px 20px 25px 45px;
    padding: 15px;
}

nav a {
    text-decoration: none;
}

nav a,
#timer-container p,
ol,
h3,
.btn,
#final-btn {
    color: var(--dark-accent);
}

nav a i {
    margin-right: 6px;
}

#timer-container {
    margin: 52px 20px 20px 48px;
    padding-left: 500px;
}

#timer-container p i {
    margin-right: 5px;
}

main {
    margin: 0 auto;
    height: 80vh;
    padding: 20px;
}

main,
.btn,
.question-footer {
    display: flex;

}

main,
footer {
    justify-content: center;
    align-items: center;
}

#introduction,
#question-section,
#final-container {
    margin: 30px 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 25px var(--light-accent);
    box-sizing: border-box;
    width: 870px;
    height: 450px;
    padding: 15px;
    text-align: center;
}

h2 {
    margin: 45px 0;
    font-size: 30px;
    font-weight: 400;
}

ol,
h3,
.btn,
p {
    font-weight: lighter;
}

li {
    margin-bottom: 20px;
    list-style-type: none;
}

.standout {
    font-weight: 500;
}

#start {
    box-shadow: 0 2px 10px 0 var(--light-accent);
}

#start,
#final-btn {
    margin-top: 40px;
    padding: 9px 30px;
}

#start,
.btn,
#next,
#final-btn {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--body);
    text-align: center;
}

#start,
.btn:hover {
    background: var(--gradient);
    color: var(--light-shades);
}

.hide {
    display: none;
}

.show {
    display: block;
}

#question-section {
    margin-top: 20px;
}

.question-title {
    margin-top: 18px;
    height: 6vh;
}

h3 {
    font-size: 25px;
}

.question-options {
    margin: 10px 0 8px 30px;
    height: 35vh;
}

.btn {
    margin: 25px 5px;
    border: 1px solid var(--light-accent);
    width: 50%;
    padding: 9px 25px;
}

.btn,
#next {
    background: var(--light-shades);
}

.btn:hover {
    border: none;
}

#answer-check {
    margin: 5px 8px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

#current-question {
    justify-content: left;
}

#next {
    justify-content: right;
    margin-bottom: 10px;
    padding: 9px;
    width: 20%;
    color: var(--light-accent);
}

footer {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 350;
    text-align: center;
    color: var(--light-accent);
}